nav{
    margin: 0;
    padding: 10px;
    position: fixed;
    background-color: rgba(47, 79, 79);
    width: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}

li a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 12px;
}

@media only screen and (min-width: 1000px){
    nav{
        padding: 0;
        opacity: 0.2;
        transition: 0.4s;
    }
    
    nav:hover{
        opacity: 1;
    }
    
    li a{
        display: block;
        padding: 30px;
        text-decoration: none;
        color: white;
        transition: 0.3s;
        font-size: 1em;
    }
    
    li a:hover{
        color: black;
        background-color: white;
    }
}