@import url(nav.css);

html, body{
    margin: 0;
    padding: 0;
    justify-content: center;
}

.grid-container{
    padding: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-container h1{
    padding-right: 50px;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: darkslategray;
    font-size: 4em;
    color: rgb(49, 49, 49);
}

.desc{
    padding-top: 100px;
    /* padding: 30px; */
    position: fixed;
    width: 500px;
}

.pixelated{
    opacity: 0;
}

.mountains{
    opacity: 0;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
    padding: 60px;
}

.butt{
    border-radius: 50%;
}