@import url(nav.css);

html, body{
    margin: 0;
    padding: 0;
    justify-content: center;
}

body{
    width: 100%;
    height: 100%;
    background-image: "";
    background-color: darkslategray;
    transition: background-image 1s linear;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: white;
    background-color: black;
}

.grid-container{
    padding: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-container h1{
    padding-right: 50px;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: darkslategray;
    font-size: 4em;
    color: rgb(49, 49, 49);
}

.description{
    text-align: center;
}

.desc{
    margin-top: 100px;
    padding: 30px;
    position: fixed;
    width: 400px;
    background-color: #57575748;
}

.pixelated{
    opacity: 0;
    color: black;
}

.mountains{
    opacity: 0;
    color: white;
}

.original{
    opacity: 1;
}

.button-container{
    display: grid;
    grid-template-columns: 250px 250px;
    justify-content: right;
}

.pbutton{
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}

.mbutton{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

